header {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;

  nav {
    text-align: left;
    .logo {
      font-size: 200%;
      color: #333333;
    }
  }
}